@import 'bootstrap';

body {
  padding-top: 10px;
}

.field_with_errors {
  @extend .has_error
}

ul {
  list-style: none
}

#comment-section {
  padding: 10px 0 0 0;
  border-top: 3px solid #666;

  .comment {
    margin: 10px 10px 10px 50px;
    @extend .panel;
    @extend .panel-default;
  }

  .first-level-comment {
    @extend .comment;
    margin-left: 0;
  }
}

.reply {
  @extend .btn, .btn-primary
}

.reply-form {
  display: none;
}

.highlighted {
  background-color: yellow;
}

.title {
	font-size: 1.4em;
}

.big-arrow {
	font-size: 2em;
	width: 5px;
}
